@inherits LayoutComponentBase


<div class="content content-fixed">
    @Body
</div><!-- content -->



<footer class="footer">
    <div>
        <span>&copy; 2022 xilo-ui v1.0.0. </span>
        <span>Created by xilokraft</span>
    </div>
    <div>
        <nav class="nav">
            <a href="https://it.dev.net/licenses/standard" class="nav-link">Licenses</a>
            <a href="xl-dash/change-log.html" class="nav-link">Change Log</a>
            <a href="https://discordapp.com/invite/RYqkVuw" class="nav-link">Get Help</a>
        </nav>
    </div>
</footer>